body {
  margin: 0;
  padding: 0;
  background-color: #141414;
  color: #e5e5e5;
}

form {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#userName {
  margin-bottom: 10px;
  outline: none;
  padding: 10px;
  font-size: 28px;
}

input[type="submit"] {
  background-color: #e50914;
  color: #e5e5e5;
  border: none;
  padding: 5px 10px;
  font-size: 28px;
}